.container{
    background-color:white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}

header {

    width: 100%;
    height: 82px;
    background-color:#fff000;
}

#cover {
    width: 100%;
    height: 439px;
}

h2 {
 position: absolute;
width: 100%;
height: 140px;
background-color: yellow;
}
.cover {
    height:90vh;
    width:100%;
    background-image: url(/images/ps5-dualsense-price-release-date.jpg);
    background-size: cover;
}
.link{
    padding-top: 3%;
    margin-left: 2%;
    flex-direction: row;
    display: flex;

}
#image1,#image2,#image3,#image4{
                    padding:10px;
                    margin:5px;

}
body{
    overflow-x: hidden;
}
