.container {
    position: relative;
    overflow: auto;
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    box-sizing:border-box;
}

header {
    background-color: #fffa5c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position:fixed;

}
#cover>p{
    padding-top: 3%;
    font-size: 50px;
    text-align: left;
    font-weight: bolder;
    font-family: 'Fredericka the Great', cursive;
}

#heading  {
font-size:  40px;
text-align: center;
background-color: #fffa5c;

}
#cover {
    height:100vh;
    width:100%;
    background-image: url(./images/893260.jpg);
    background-size: cover;
    margin-top: 50px;
    padding: 0ex;
    
}
.link{
    text-align: center;
    padding-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bolder;
    background-color: black;
    transition: ease-in-out;
}
.link>div>a:hover{
            color: #39ff14;
}
.link>div>a {
    color: #fffa5c;
}
#image2 {
    margin-right: 160px;
    
}
#image4{
    margin-left: -30px;
}


}
body{
    overflow-x: hidden;
}

nav>ol{
    list-style:none;
  }
  
  nav>ol>li{
          display:inline-block;
          padding:0 5px;
  }
  
  nav>ol>li>a{
          font-size: 30px;
          font-weight: bolder;
          font-family: 'Fredericka the Great', cursive;
          text-decoration:none;
          color: black;
          margin-right: 20px;
  }
  
  nav>ol>li>a:hover {
          color:blue;
  }
  
  #content{
            background-color: black;
            color: #fffa5c;
            border-bottom:solid 5px #fffa5c;
  }
  #content>p,#about>p,#contacts>p{
            text-align: left;
            padding-left: 25%;
            font-size: 20px;
            padding-bottom: 30px;
            
  }
  #content>p>a{
      font-size: larger;
      font-weight: bold;
      background-color:#fffa5c;
      color:black;
      text-decoration: none;
      border-radius: 5px;
      padding-left: 5px;
      margin-top: 5px;
  }
  #about{
      background-color: black;
      color: #fffa5c;
  }

  #contacts{
      background-color:#fffa5c;
      color: black;
  }
header h1{
    margin-left: 3%;
    padding: 10px;
    font-family: 'UnifrakturMaguntia', cursive;
    background-color: black;
    color:#fffa5c;
    font-size:50px;
    font-weight: bolder;

}
#content>h3,#about>h3,#contacts>h3 {
    font-size: xx-large;
    text-decoration: underline;
    font-family: 'Permanent Marker', cursive;
}

#contacts>p>img{
    height: 30px;
    width: 30px;
    padding-top: 5px;
    padding-right: 10px;
}
#copy{
    font-size: small;
}